.preloader {
  color: #4b853d;
  display: table;
  font-size: 16px;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
}

.preloader > div {
  display: table-cell;
  vertical-align: middle;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - 10px);
  padding: 5px;
}

.wrapper textarea, .wrapper .fake-textarea {
  color: #4b853d;
  flex-grow: 1;
  font-size: 14px;
  padding: 15px;
}

.button-container {
  padding: 10px 0 5px 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.button-container button {
  background: black;
  border: 2px solid #4b853d;
  color: #4b853d;
  cursor: pointer;
  flex-grow: 1;
  margin: 0 3px;
}

.button-container button:disabled {
  border-color: rgba(203, 249, 192, 0.38);
  color: rgba(203, 249, 192, 0.38);
}

.info {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: 2px solid #4b853d;
  color: #4b853d;
  cursor: pointer;
  display: table;
  height: 20px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 20px;
}

.info div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
